
  body {
    background-color: black;;
    color: white;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: red;
    border-width: 7px;
    width: 8%;
  }
  h1 {
    color: red;
  }
  h3 {
    color: red;
  }
